<div style="padding-top: 15px;padding-left: 15px;text-align: center">
    <button type="button" ng-click="reset()" ng-confirm-click="Reset? Really?" class="btn btn-default"style="font-size: 0.8rem">Reset</button>
    <button type="button" ng-click="baseline()" ng-confirm-click="Set this board as your baseline?" class="btn btn-default" style="font-size: 0.8rem">Set Baseline</button>
    <button type="button" ng-click="resetToBaseline()" ng-confirm-click="Reset to baseline? Really?" class="btn btn-default" style="font-size: 0.8rem">Reset to Baseline</button>
</div>