<table cellpadding="0" cellspacing="0" border="1" id="table">
    <tr>
        <td ng-repeat="x in ['','a','b','c','d','e','f','g','h','i']" class="axis-top">{{x}}</td>
    </tr>
    <tr ng-repeat="row in matrix.matrix" class="axis">
        <td class="axis-left">{{$index+1}}</td>
        <td ng-repeat="cell in row"
            class="{{getTDStyle($parent.$index, $index)}}"
            style="background-color: {{getColor(cell)}}">

            <input type="number" min="1" max="9" class="input" value="{{cell.value}}"
                   ng-model="cell.value" ng-change="cellChanged(cell, '{{cell.value}}')"
                   style="background-color: {{getColor(cell)}}; font-weight: {{getFontWeight(cell)}}">

            <div class="numbers" style="background-color: {{getColor(cell)}}">
                {{cell.value === '' || cell.value === null ? cell.numbers : ''}}
            </div>

        </td>
    </tr>
</table>