body {
    font-family: monospace;
}

h1 {
    margin-bottom: 0px;
}

h4 {
    margin-top: 0px;
}

table thead th {
    height: 0px;
    padding: 0px;
}

table {
    width: 10px;
    border-width: 0px;
}

table tbody td {
    padding: 0px;
    text-align: center;
}

table tbody td.thick-top {
    border-top-width: 4px;
}

table tbody td.thick-bottom {
    border-bottom-width: 4px;
}

table tbody td.thick-right {
    border-right-width: 4px;
}

table tbody td.thick-left {
    border-left-width: 4px;
}

.input {
    text-align: center;
    width: 45px;
    height: 45px;
    font-size: 14pt;
}

.numbers {
    text-align: center;
    font-size: 7pt;
    height: 10px;
}

.axis-top {
    border-width: 0px;
}

.axis-left {
    border-width: 0px;
    padding-right: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.log_holder {
    height: 500px;
    width: 200px;
    overflow: auto;
    border: gray groove 1px;
}

.bottons_holder {
    padding-top: 10px;
    text-align: center;
}