body {
    font-family: monospace;
}

h1 {
    margin: 0px;
    color: #000066;
    font-size: 5rem;
}

h5 {
    margin-bottom: 10px;
}

table thead th {
    height: 0px;
    padding: 0px;
}

table {
    border-width: 0px;
}

table tbody td {
    padding: 0px;
    text-align: center;
}

table tbody td.thick-top {
    border-top-width: 4px;
}

table tbody td.thick-bottom {
    border-bottom-width: 4px;
}

table tbody td.thick-right {
    border-right-width: 4px;
}

table tbody td.thick-left {
    border-left-width: 4px;
}

.input {
    text-align: center;
    width: 45px;
    height: 45px;
    font-size: 14pt;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.numbers {
    text-align: center;
    font-size: 6pt;
    height: 10px;
}

/* iphone 5 */
@media only screen
and (max-device-width: 568px) {
    .input {
        width: 26px;
        height: 26px;
        font-size: 14pt;
    }
    .numbers {
        font-size: 3pt;
        height: 10px;
    }
}

/* iphone 6 */
@media only screen
and (max-device-width: 667px) {
    .input {
        width: 26px;
        height: 26px;
        font-size: 14pt;
    }
    .numbers {
        font-size: 4pt;
        height: 10px;
    }
}


.axis-top {
    border-width: 0px;
}

.axis-left {
    border-width: 0px;
    padding-right: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.log_holder {
    max-height: 515px;
    width: 80px;
    overflow-y: scroll;
    border: #000066 groove 2px;
    text-align: center;
}

.log-header {
    width: 80px;
    font-weight: bolder;
    text-align: center;
}

.bottons_holder {
    padding-top: 10px;
    text-align: center;
}