<table cellpadding="0" cellspacing="0" border="1" id="table">
    <tr ng-repeat="row in matrix.matrix" class="axis">
        <td ng-repeat="cell in row"
            class="{{getTDStyle($parent.$index, $index)}}"
            style="background-color: {{getColor(cell)}}">

            <input type="number" min="1" max="9" class="input" value="{{cell.value}}"
                   ng-model="cell.value" ng-change="cellChanged(cell)"
                   style="background-color: {{getColor(cell)}}">

            <div class="numbers" style="background-color: {{getColor(cell)}}">
                {{cell.value === '' ? cell.numbers : ''}}
            </div>

        </td>
    </tr>
</table>